.navbar , .darks {
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    width:100%;
    margin-left:0px;
}
.wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .search {
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        padding: 3px;
}
        .input {
        border: none;
        outline: none;
        background: transparent;
}
        .input placeholder {
            font-size: 12px;
        }
        


    .items {
        display: flex;
        align-items: center;
    }
    .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        }
        .icon {
            font-size: 20px;
        }

        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .counter {
            width: 15px;
            height: 15px;
            background-color: red;
            border-radius: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: bold;
            top: -5px;
            right: -5px;
        }

    .icon:hover{
        background-color:#092c3e ;
        border-radius: 15px;
        color:white;
    }
.home{
    display:none;
}
.darks {
    color:white;
}
@media screen and (max-width:768px) {
    .navbar , .darks{
        
    }
    
    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
        
        
        .item {
            display: flex;
            align-items: center;
            margin-right: 8px;
            font-size:14px;
        }
        .icon {
            font-size: 18px;
        }
    
    
        .counter {
            width: 13px;
            height: 13px;
            background-color: red;
            border-radius: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: bold;
            top: -5px;
            right: -5px;
        }
}

@media screen and (max-width:680px) {
    .navbar , .darks{
        
    }

    .search{
        display:none;
    }
    
    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
        
        
        .item {
            display: flex;
            align-items: center;
            margin-right: 10px;
            font-size:14px;
        }
        .icon {
            font-size: 18px;
        }
    
    
        .counter {
            width: 13px;
            height: 13px;
            background-color: red;
            border-radius: 50%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: bold;
            top: -5px;
            right: -5px;
        }
}
        